/luajit-2.0/
/lua/
/zlib/
/WebSockets/
/Utf8/
/Uri/
/SystemAbstractions/
/MessageHeaders/
/Json/
/IronGloveBackend/
/iron-glove/
/HttpNetworkTransport/
/Http/
/Hash/
/googletest/
/Base64/

/.vscode/settings.json
/.vscode/c_cpp_properties.json
/.vscode/launch.json

/build*/
